* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Etiquetas HTML */
nav {
    background-color: #F32424;
}

nav li {
    display: inline-block;
    padding: 20px;
    margin: 10px;
}

footer {

    background-color: #F32424;
    font-size: 1.3rem;
    font-weight: bold;
    height: 3rem;
    padding-left: 1rem;
}


ul {
    display: block;
}


p {
    margin-bottom: 0.8rem;
}

/* clases */


.acolor  {
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: #F2F2F2;
    cursor: pointer;
}


.color1 {
    background-color: rgb(118, 74, 241,0.3);

}

.color2 {
    background-color: rgb(151, 114, 251,0.5);

}


.activo {
    color: #b399fb;
    font-weight: bold;
}




.item {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    color: black;
    /* grid-column: 1/4; */
    /* border: 0.1px solid rgb(222, 222, 222); */
}


.sec{
    display: flex;
}


 .caja {
    height: 100%;
     margin: 0 auto; 
    padding: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 2px 2px 4px grey;
    z-index: 3;
    animation-name: appears;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


.ordeni{
    width: 100%;
    display: flex;
    flex: row;
    align-items:center;
    justify-content: space-between;

}


.imgr{
    width: 50%;
    height: 300px;
    max-height: auto;
}

.item img {
    width: 50%;
    height: 50%;
    padding: 0.5rem;
}

.imgb {

    max-width: 100%;
    background-image: url("../img/Cds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: local; */


}

.imgb1 {
    background-image: url("../img/Vinilos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */

}
.imgb2 {
    background-image: url("../img/Vinilos2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */

}
.imgb3 {
    
    background-image: url("../img/cdsb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */

}


.item-1 {
    height: 80vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.item-2 {
    height:80vh ;
    padding: 0.5rem;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.item-2 img {
    border-radius: 80%;
    height: 10rem;
    width: 10rem;
}


.btn1 {
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;

}



 video {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    /* animation-name: cambiob;
    animation-duration: 9s;
    animation-iteration-count: 2; */
  }

/* pseudoclases */

input:required {
    border: 3px dashed red;
  }

.btn:hover {
    background-color: #9e7df6;
}

li:hover {
    background-color: #f95555;
}

.card a:hover{

    box-shadow: 5px 5px 5px grey;
    animation-name:grown;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }


/* Animacion de aparicion */

@keyframes appears {
    0% {
        opacity: 0%;
        visibility: hidden;
    }

    100% {
        opacity: 100%;
        visibility: visible;
    }
}

@keyframes cambiob {
    
    0%{
        opacity: 50%;
        
    }

    50%{
        opacity: 70%;
    }

    100%{
        opacity: 100%;
        background: url(../img/Record\ -\ 65390.mp4);
        
    }
}

@keyframes grown {

    0%{
        width: 150px;
        height: 50px;
    }
    100%{
        font-size: 1.5rem;
        width: 225px;
        height: 66px;
}
}

/* Formato para un mejor vista grafica del catalogo */
.card {
    width: 300px;
    padding: 0.2rem;
    margin: 0.2rem;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    animation-name: appears;
}



.card img {
    height: 15rem;
    width: 15rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    text-align: center;
    background-image: linear-gradient(to right,  #d14c4c ,  #3f0ad1);
}

.contenido img {
    width: 30%;
    height: 30%;
}


.caja a {
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    background-color: #F32424;
    border-radius: 20%;
}

.caja a:hover {
    background-color: #d81616;
    margin: 0.6rem;
    padding: 0.6rem;
}

/* Media Queries */

@media screen and (max-width:480px) {


    
    .ordeni{
        flex-direction: column;
    }
    
    .imgr{
        width: 50%;
        height: auto;
        max-height: 300px;
    }

    .item {
        display: flex;
        flex-direction: column;
    }
    
    .item-1{
    flex-direction: column;
    align-items: center;
    }

    .item-2 {
        display: flex;
        flex-direction: column;
        align-content: space-between;

    }

    .item-2 img {
        height: 40%;
        width: 40%;

    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .btn1{
        width: 100%;
        height: auto;
    }
}

/* 
@media screen and (max-width:755px) {

} */