// Header / Nav / ul / li

$colorPrincipal1: #F32424;
$colorPrincipal2: #764af14d;
$colorPrincipal3: #9772fb80;

nav {
    background-color: $colorPrincipal1;

    ul {
        display: block;
    }

    & li {
        display: inline-block;
        padding: 20px;
        margin: 10px;

        li:hover {
            background-color: #f95555;
        }

        a {
            text-decoration: none;
            font-weight: bolder;
        }

        &:hover {
            background: #f95555;
        }


    }


}