nav {
  background-color: #F32424;
}

nav ul {
  display: block;
}

nav nav_li {
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

nav nav_li li:hover {
  background-color: #f95555;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.colum-100 {
  height: 100%;
  width: 100%;
}

.colum-50 {
  height: 50%;
  width: 50%;
}

p {
  margin-bottom: 0.8rem;
}

.caja {
  background-color: #9772fb80;
  height: 100%;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
  -webkit-box-shadow: 2px 2px 4px grey;
          box-shadow: 2px 2px 4px grey;
  z-index: 3;
}

.caja .imgr {
  width: 40%;
  height: 80%;
  padding: 0.5rem;
  z-index: 1;
}

.caja .escalera {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caja .escalera .escalon {
  height: 100%;
  width: 90%;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.caja .escalera .escalon p {
  margin: 0.5rem;
  padding: 0.5rem;
}

.caja .escalera .escalon1 {
  height: 100%;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.caja .escalera .escalon1 p {
  margin: 0.5rem;
  padding: 0.5rem;
}

video {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

footer {
  background-color: #F32424;
  font-size: 1.3rem;
  font-weight: bold;
  height: 3rem;
  padding-left: 1rem;
}

/* Animaciones*/
@-webkit-keyframes appears {
  0% {
    opacity: 0%;
    visibility: hidden;
  }
  100% {
    opacity: 100%;
    visibility: visible;
  }
}
@keyframes appears {
  0% {
    opacity: 0%;
    visibility: hidden;
  }
  100% {
    opacity: 100%;
    visibility: visible;
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .escalera {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .escalera p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 485px) {
  .caja {
    height: 100%;
  }
  .ordeni {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ordeni_imgr {
    width: 50%;
    height: auto;
    max-height: 300px;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}
/*# sourceMappingURL=main.css.map */