@import 'headernav';

$colorPrincipal2: #764af14d;
$colorPrincipal3: #9772fb80;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}


$display:(
 $block:block,
 $inline:inline,
 $inlineB:inline-block,
 $flex:flex
);
   
.colum-100{
    display:map-get($display, flex);
    flex-direction: row;
    width: 100%;
}

.colum-50{
    height: 50%;
    width: 50%;
}






p {
    margin-bottom: 0.8rem;
}

.caja{
    background-color: $colorPrincipal3 ;
    height: 100%;
    width: 100%;
    padding: 1rem;
    // margin: 2rem;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 2px 2px 4px grey;
    z-index: 3;

  
    .imgr {
        width: 40%;
        height: 80%;
        padding: 0.5rem;
        z-index: 1;
    }

    .escalera {
        height: 100%;
        display: flex;
        flex-direction: column;
    
    
        .escalon{
            height: 100%;
            width: 90%;
            margin: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
           
            p{
                margin: 0.5rem;
                padding: 0.5rem;
            }
        }
        
        .escalon1{
            height: 100%;
            width: 100%;
            margin: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;
        
            p{
               margin: 0.5rem;
               padding: 0.5rem; 
        
            }
        }
        
    
    }
}




video {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}




footer {
    background-color: $colorPrincipal1;
    font-size: 1.3rem;
    font-weight: bold;
    height: 3rem;
    padding-left: 1rem;
}


/* Animaciones*/

@keyframes appears {
    0% {
        opacity: 0%;
        visibility: hidden;
    }

    100% {
        opacity: 100%;
        visibility: visible;
    }
}


/* Media Queries */


@media screen and (max-width:768px) {

    .escalera{
        flex-direction: column;
        
        p{
           font-size: 1.1rem;
        }
    }

    // .ordeni_imgr {
    //     width: 20%;
    //     height: auto;
    //     max-height: 300px;
    // }

}

@media screen and (max-width:485px) {

    .caja {
        height: 100%;
    }

    .ordeni {
        flex-direction: column;

        &_imgr {
            width: 50%;
            height: auto;
            max-height: 300px;
        }


    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}